{% extends "base.html" %}

{% block page_content %}
    <div style="float: right">
        <a href="{{ url_for("matthew.add_sensor") }}"><button type="button" class="btn btn-primary">添加传感器</button></a>
    </div>
    <div class="row" style="padding-top: 80px">
    {% for all in all_sensors %}
        <div class="col-md-3 col-sm-6 col-xs-12">
            <img src="../../static/img/下载.png" />
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <ul class="list-group">
                <li class="list-group-item">传感器名称:{{ all.name }}</li>
                <li class="list-group-item">传感器编号:{{all.id}}</li>
                <li class="list-group-item">传感器描述:{{ all.desc }}</li>
                <li class="list-group-item">传感器数据:{{all.unit}}</li>
                <li class="list-group-item">南北信号灯状态:{{all.snstate}}</li>
                <li class="list-group-item">东西信号灯状态:{{all.wnstate}}</li>
                <li class="list-group-item">创建时间:{{ all.timestamp }}</li>
                <li class="list-group-item">
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group">
                            <a href="{{ url_for("matthew.delete_sensor", id=all.id) }}"><button type="button" class="btn btn-default">删除</button></a>
                            <a href="{{ url_for("matthew.edit_sensor", id=all.id) }}"><button type="button" class="btn btn-default">设置</button></a>
                            <a href="#"><button type="button" class="btn btn-default">数据</button></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    {% endfor %}
    </div>
{% endblock %}